<div class="header-button-container" (keydown.escape)="closeAllMenus()">

	<!-- ACCOUNT -->
	<button title="User" type="button" class="icon-btn account" (click)="toggleUserMenu()" (keydown)="onIconKeydown($event, 'user')"
		aria-label="Account" aria-haspopup="menu" [attr.aria-expanded]="isUserMenuOpen" aria-controls="user-menu">
		<fa-icon [icon]="faUser"></fa-icon>
	</button>

	<!-- CART -->
	<button title="Shopping cart"  type="button" class="icon-btn cart" (click)="toggleCartMenu()" (keydown)="onIconKeydown($event, 'cart')"
		aria-label="Shopping Cart" aria-haspopup="menu" [attr.aria-expanded]="isCartMenuOpen" aria-controls="cart-menu">
		<fa-icon [icon]="faShoppingCart"></fa-icon>

		<span class="cart-badge" *ngIf="cart.totalItems > 0" aria-label="Število izdelkov v košarici">
			{{ cart.totalItems }}
		</span>
	</button>

	<!-- USER DROPDOWN -->
	<div id="user-menu" class="dropdown user-dropdown" *ngIf="isUserMenuOpen" role="menu" aria-label="Uporabniški meni">
		<ng-container *ngIf="!isLoggedIn; else loggedInMenu">
			<button type="button" role="menuitem" (click)="openRegistration()">Ustvari račun</button>
			<button type="button" role="menuitem" (click)="openLogin()">Vpiši se</button>
		</ng-container>

		<ng-template #loggedInMenu>
			<button type="button" role="menuitem" (click)="routeToUserProfile()">Moj profil</button>
			<button type="button" role="menuitem" (click)="routeToOrderHistory()">Pretekla naročila</button>
			<button type="button" role="menuitem" class="logout" (click)="logout()">Odjava</button>
		</ng-template>
	</div>

	<!-- CART DROPDOWN -->
	<div id="cart-menu" class="dropdown cart-dropdown" *ngIf="isCartMenuOpen" role="menu" aria-label="Košarica">
		<p class="cart-title">Košarica</p>

		<div class="cart-empty" *ngIf="cart.items.length === 0">
			Košarica je prazna
		</div>

		<div class="cart-items" *ngIf="cart.items.length > 0">
			<div class="cart-row" *ngFor="let it of cart.items; let i = index">
				<div class="cart-name">{{ i + 1 }}. {{ it.product.name }}</div>
				<div class="cart-qty">x{{ it.qty }}</div>
			</div>

			<div class="cart-total">
				<span>Skupaj:</span>
				<span>{{ cart.totalPrice | currency:'EUR':'symbol':'1.2-2':'sl-SI' }}</span>
			</div>

			<button class="cart-open" type="button" role="menuitem" (click)="goToCart()">
				Odpri košarico
			</button>
		</div>
	</div>

	<!-- LANGUAGE SWITCH -->
	<button title="Pick language: Slovene | English | German" class="lang-switch notranslate" type="button" (click)="toggleLanguage()">
		<img class="flag-img" [src]="currentLang === 'sl' ? '/flag-icons/flag-for-flag-slovenia.svg'
            : currentLang === 'en' ? '/flag-icons/flag-for-flag-united-kingdom.svg'
            : '/flag-icons/flag-for-flag-germany.svg'"
			[alt]="currentLang === 'sl' ? 'SLO' : currentLang === 'en' ? 'ENG' : 'DEU'" />
		<span class="lang-code notranslate">{{ currentLang.toUpperCase() }}</span>
	</button>

</div>