<div class="contact-wrapper">
    <div class="contact-container">
        <!-- LEVA STRAN – naslov, glavna pisarna, seznam poslovalnic -->
        <div class="contact-info">
            <div>
                <h1 class="contact-title">Kontakt</h1>
                <p class="contact-subtitle">
                    Pišite nam ali nas obiščite v eni izmed poslovalnic.
                </p>
            </div>
            <div class="store-list">
                <div class="store-item" *ngFor="let store of stores" (click)="selectStore(store)">
                    <app-store-info [store]="store" [selected]="store === selectedStore"></app-store-info>
                </div>
            </div>
        </div>

        <div class="contact-map-wrapper">
            <div id="map"></div>
        </div>
    </div>
</div>