:host {
  display: block;
  height: 100%;
}

/* Glavni layout aplikacije */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // ključno: zapolni cel viewport
}

/* Glavna vsebina */
.main-content {
  flex: 1; // potisne footer na dno
  display: flex;
  flex-direction: column;
  min-height: 0; // prepreči overflow bug pri flex + router-outlet
}