/* Global CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Scaling za druge naprave */
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

#google_translate_element,
.goog-te-banner-frame,
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
}